// vertical alignment center
@mixin flex-center-v {
    display: flex;
    align-items: center;
}

// center alignment
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin row($column-gap) {
    column-gap: $column-gap;
}

